<h3>Daftar Provinsi</h3>
<div class="row">
    <div class="col-md-12">
        <table class="row-border hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>NAMA</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listProv">
                    <td>{{p.idProvinsi}}</td>
                    <td>{{p.namaProvinsi}}</td>
                    <td><a routerLink="{{p.idProvinsi}}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>