<h3>Daftar Kabupaten</h3>
<div class="row">
    <div class="col-md-12">
        <table class="row-border hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>NAMA</th>
                    <th>NAMA PROVINSI</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let k of listKab">
                    <td>{{k.idKabupaten}}</td>
                    <td>{{k.namaKabupaten}}</td>
                    <td>{{k.provinsi.namaProvinsi}}</td>
                    <td><a routerLink="{{k.idKabupaten}}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>